.personal-info{
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}
.primary-details,.aditional-details{
    display: flex;
    gap: 20px;
}
.img-cont{
    height: 60px;
    width: 70px;
    border-radius: 50%;
}
.img-container-cunstom{
    width: 100%;
    border-radius: 50%;
}
.height,.weight,.age{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aditional-details{
    background-color: rgba(250, 235, 215, 0.526);
    justify-content: space-evenly;
    padding-top:15px;
    padding-bottom:15px;
    border-radius: 30px;
} 
.aditional-details h3{
    margin: 0;
}
.breaks-btn button{
    border: none;
    background-color: #fff;
    border-radius: 30px;
    padding: 10px;
}
.exercise-time,.break-time{
    background-color: rgba(250, 235, 215, 0.526);
    border-radius: 30px;
}