.card-img-top{
    height: 45%;
    object-fit: cover;
}
.btn-custom{
    display: block;
    width: 100%;
    margin-top: 10px;
    background-color: rgba(111, 45, 189,0.8);
    border: none;
    border-radius: 7px;
    color: white;
    font-size: 14px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: bold;
}